<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Plants Shop</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans:300,400,500,600,700&amp;display=swap">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/Gamanet_Sidebar_bs5_v2.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/vanilla-zoom.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-md fixed-top bg-body mb-0 pb-3 pt-3">
        <div class="container-fluid"><a class="navbar-brand ms-4" href="admin-overview.html" style="margin-left: 30px;"><strong>PLANTS SHOP</strong></a><button class="navbar-toggler" data-bs-toggle="collapse"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button></div>
    </nav>
    <main class="page">
        <div class="sidebar sidebar-menu" style="width: 275px;height: 622px;">
            <div style="width: 250px;" class="mt-3">
                <ul class="nav nav-tabs pb-0 mt-4 pt-3 mb-5" style="width: 250px;height: 300px;">
                    <li class="nav-item"><a class="nav-link active nav-link active" href="admin-overview.html"><i class="fas fa-home me-3"></i><span>Overview</span></a><a class="nav-link" href="admin-product.html"><i class="fas fa-layer-group me-3" style="color: #000000;"></i><span style="color: #000000;">Product</span></a><a class="nav-link" href="admin-order.html"><i class="fas fa-shopping-cart me-3" style="color: #000000;"></i><span style="color: #000000;">Order</span></a><a class="nav-link" href="admin-users.html"><i class="fas fa-users me-3" style="color: #000000;"></i><span style="color: #000000;">Users</span></a><a class="nav-link" href="admin-employees.html"><i class="fas fa-user-tie me-3" style="color: #000000;"></i><span style="color: #000000;">Employees</span></a><a class="nav-link" href="admin-manage-account.html"><i class="fas fa-user-cog me-3" style="color: #000000;"></i><span style="color: #000000;">Manage account</span></a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                </ul>
            </div>
            <hr class="mt-4">
            <div class="footer-sidebar">
                <div><span>Welcome, Users</span></div>
                <div><a href="index.html"><i class="fas fa-sign-out-alt pe-0 me-3" style="font-size: 16px;color: #000000;"></i><span style="color: #000000;">Log Out</span></a></div>
            </div>
        </div>
        <div class="main-content h-100">
            <div class="container">
                <div>
                    <h1 class="mt-5 ms-5" style="font-size:30px;">Edit Product:</h1>
                </div>
                <div class="table-responsive mt-5 mb-5" style="font-size:22px;">
                    <table class="table custom-table">
                        <thead>
                            <tr>
                                <th style="text-align:center;border-color:#000000;font-size:22px;" width="40%">Criteria</th>
                                <th style="text-align:right;border-color:#000000;font-size:22px;" width="60%">Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="text-align:center;border-color:#000000;font-size:22px;">Product&nbsp;</td>
                                <td style="text-align:right;border-color:#000000;font-size:22px;"><input type="text" class="form-control" style="text-align: right;border-color: #fff;" value="Chậu sứ 1"></td>
                            </tr>
                            <tr>
                                <td style="text-align:center;border-color:#000000;font-size:22px;">Price</td>
                                <td style="text-align:right;border-color:#000000;font-size:22px;"><input type="text" class="form-control" style="text-align:right;border-color:#fff;" value="150000VNĐ"></td>
                            </tr>
                            <tr>
                                <td style="text-align:center;border-color:#000000;font-size:22px;">Sale off</td>
                                <td style="text-align:right;border-color:#000000;font-size:22px;"><input type="text" class="form-control" style="text-align:right;border-color:#fff;" value="110000VNĐ"></td>
                            </tr>
                            <tr>
                                <td style="text-align:center;border-color:#000000;font-size:22px;">Type</td>
                                <td style="text-align:right;border-color:#000000;font-size:22px;"><input type="text" class="form-control" style="text-align:right;border-color:#fff;" value="Cây Bonsai Mini"></td>
                            </tr>
                            <tr>
                                <td style="text-align:center;border-color:#000000;font-size:22px;">Image </td>
                                <td style="text-align:right;border-color:#000000;font-size:22px;">
                                    <div class="custom-file"><input type="file" accept="image/*" id="uploadImage"><span class="custom-file-label"></span></div><img class="d-none" alt="Xem ảnh trước" id="imagePreview" style="max-width:150px;">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center"><button class="btn btn-primary" id="editProductBtn" type="button" style="background:#c4c8cb;color:#000000;">Xác nhận</button></div>
            </div>
        </div>
    </main>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/baguetteBox.min.js"></script>
    <script src="assets/js/vanilla-zoom.js"></script>
    <script src="assets/js/theme.js"></script>
    <script src="assets/js/admin-manage-account.js"></script>
    <script src="assets/js/admin-order-page.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="assets/js/script.js"></script>
</body>

</html>