
<html data-bs-theme="light" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Login - Brand</title>
    <link
      rel="stylesheet"
      href="assets/bootstrap/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Noto+Sans:300,400,500,600,700&amp;display=swap"
    />
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css" />
    <link rel="stylesheet" href="assets/css/baguetteBox.min.css" />
    <link
      rel="stylesheet"
      href="assets/css/Gamanet_Sidebar_bs5_v2.css"
    />
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="assets/css/vanilla-zoom.min.css" />
  </head>

  <body>
  <nav class="navbar navbar-expand-lg fixed-top bg-body clean-navbar mb-0">
    <div class="container">
      <a class="navbar-brand logo" href="index" style="font-weight: bold">PLANTS SHOP</a>
      <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-1">
        <span class="visually-hidden">Toggle navigation</span>
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link" href="/index">Trang chủ</a></li>
          <li class="nav-item"><a class="nav-link" href="/features">Sản Phẩm</a></li>
          <li class="nav-item"><a class="nav-link me-0" href="/contact-us">Liên Hệ</a></li>
          <li class="nav-item" id="login-nav-item"><a class="nav-link" href="/login">Đăng nhập</a></li>
        </ul>

        <!-- Giỏ hàng -->
        <a href="shopping-cart">
          <button class="btn btn-primary me-2" type="button" style="background: var(--bs-primary)">
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                 viewBox="0 0 16 16" class="bi bi-cart3" style="width: 20px; height: 20px">
              <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"></path>
            </svg>
          </button>
        </a>

        <!-- User dropdown menu (hidden by default) -->
        <div id="user-dropdown" class="dropdown d-none">
          <button class="btn btn-primary dropdown-toggle pb-2 mt-0 mb-2" type="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
            <i class="far fa-user"></i>
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="manage-account">Quản lý tài khoản</a></li>
            <li><a class="dropdown-item" href="history-order">Lịch sử</a></li>
            <li><a class="dropdown-item" href="#" onclick="logout()">Đăng xuất</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <main class="page">
      <section class="clean-block clean-form dark">
        <div class="container">
          <div class="block-heading container w-100 ps-3">
            <h2
              style="
                color: #000000;
                font-weight: bold;
                padding: 0px;
                margin: 0px;
              "
            >
              Đăng nhập
            </h2>
            <p
              class="text-muted"
              style="width: 254px; text-align: center; padding: 0px"
            >
              Điền đầy đủ thông tin bên dưới
            </p>
          </div>
          <form onsubmit="event.preventDefault(); login();">
            <div class="mb-3">
              <label class="form-label" for="username">Username</label
              ><input
                class="form-control item"
                type="text"
                id="username"
                data-bs-theme="light"
              />
            </div>
            <div class="mb-3">
              <label class="form-label" for="password">Password</label
              ><input
                class="form-control"
                type="password"
                id="password"
                data-bs-theme="light"
                value=""
              />
            </div>
            <a href="forget-password" style="color: rgb(237, 38, 25)"
              >Quên mật khẩu?</a
            >
            <div class="mb-3 login-container">
              <div>
                <button
                  class="btn btn-primary mt-2"
                  type="submit"
                  style="background: #74a65d"
                  >Log In
                </button>
              </div>
              <a href="registration">Đăng ký</a>
            </div>
          </form>
        </div>
      </section>
    </main>
    <footer class="page-footer dark">
      <div class="container">
        <div class="row" style="transform: scale(0.8)">
          <div class="col">
            <p style="color: #ffffff; font-weight: bold; font-size: 20px">
              Hỗ trợ
            </p>
            <p style="color: #ffffff">Km10, Nguyễn Trãi, Hà Đông, Hà Nội</p>
            <p style="color: #ffffff">ndphuc2004@gmail.com</p>
            <p style="color: #ffffff">0999999</p>
          </div>
          <div class="col">
            <p style="color: #ffffff; font-weight: bold; font-size: 20px">
              Tài khoản
            </p>
            <a href="#"> <p style="color: #ffffff">Tài khoản của tôi</p> </a
            ><a href="login">
              <p style="color: #ffffff">Đăng nhập/ Đăng ký</p> </a
            ><a href="shopping-cart"> <p style="color: #ffffff">Giỏ hàng</p> </a
            ><a href="product-page">
              <p style="color: #ffffff">Cửa hàng</p>
            </a>
          </div>
          <div class="col">
            <p style="color: #ffffff; font-size: 20px; font-weight: bold">
              Quick Link
            </p>
            <a href="contact-us">
              <p style="color: #ffffff">Liên hệ</p>
            </a>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <p>© 2025 Copyright Text</p>
      </div>
    </footer>

    <script>

      function login() {
        const username = document.getElementById("username").value;
        const password = document.getElementById("password").value;

        if (!username || !password) {
          alert("Vui lòng điền đầy đủ thông tin!");
          return;
        }

        fetch("http://localhost:8080/auth/login", {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({ username, password })
        })
                .then(response => {
                  if (!response.ok) {
                    throw new Error("Đăng nhập thất bại!");
                  }
                  return response.json();
                })
                .then(data => {
                  const token = data.result.token;
                  localStorage.setItem("jwt", token);
                  const role = parseJwt(token).scope;
                  console.log("Role:", role);

                  updateNavigation();

                  const urlParams = new URLSearchParams(window.location.search);
                  const returnUrl = urlParams.get("returnUrl") || localStorage.getItem("returnUrl");

                  if (role === "ADMIN" || role === "EMPLOYEE") {
                    window.location.href = "/admin-overview";
                  } else if (returnUrl) {
                    localStorage.removeItem("returnUrl");
                    window.location.href = returnUrl;
                  }else{
                      window.location.href = "/index";
                  }
                })
                .catch(error => {
                  console.error("Lỗi đăng nhập:", error);
                  alert(error.message);
                });
      }


      function parseJwt(token) {
        try {
          return JSON.parse(atob(token.split('.')[1]));
        } catch (e) {
          return null;
        }
      }
    </script>

    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/baguetteBox.min.js"></script>
    <script src="assets/js/vanilla-zoom.js"></script>
    <script src="assets/js/theme.js"></script>
    <script src="assets/js/admin-manage-account.js"></script>
    <script src="assets/js/admin-order-page.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="assets/js/script.js"></script>
    <script src="assets/js/CheckLogin.js"></script>
  </body>
</html>
