<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Plants Shop</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans:300,400,500,600,700&amp;display=swap">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/Gamanet_Sidebar_bs5_v2.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/vanilla-zoom.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg fixed-top bg-body clean-navbar mb-0">
        <div class="container"><a class="navbar-brand logo" href="index.html" style="font-weight: bold;">PLANTS SHOP</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/index.html">Trang chủ</a></li>
                    <li class="nav-item"><a class="nav-link active" href="/features.html">Sản Phẩm</a></li>
                    <li class="nav-item"><a class="nav-link me-0" href="/contact-us.html">Liên Hệ</a></li>
                </ul><a href="shopping-cart.html"><button class="btn btn-primary class=&quot;fa-solid fa-cart-shopping mb-2 me-4" type="button" style="background: var(--bs-primary);"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-cart3" style="width: 20px;height: 20px;">
                            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"></path>
                        </svg></button></a>
                <div class="dropdown"><button class="btn btn-primary dropdown-toggle pb-2 mt-0 mb-2" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="far fa-user"></i></button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="manage-account.html">Quản lý tài khoản</a></li>
                        <li><a class="dropdown-item" href="index.html">Đăng xuất</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div style="margin-top: 150px; margin-bottom: 270px" class="footer-content">
        <h1 style="font-weight: bold">Đặt hàng thành công</h1>
        <div style="margin-top:30px">
            <span>Cảm ơn bạn đã tin tưởng và đặt hàng bên chúng tôi</span>
        </div>
    </div>

    <footer class="page-footer dark">
        <div class="container">
            <div class="row" style="transform: scale(0.80);">
                <div class="col">
                    <p style="color: #ffffff;font-weight: bold;font-size: 20px;">Hỗ trợ</p>
                    <p style="color: #ffffff;">Km10, Nguyễn Trãi, Hà Đông, Hà Nội</p>
                    <p style="color: #ffffff;">ndphuc2004@gmail.com</p>
                    <p style="color: #ffffff;">0999999</p>
                </div>
                <div class="col">
                    <p style="color: #ffffff;font-weight: bold;font-size: 20px;">Tài khoản</p><a href="#">
                        <p style="color: #ffffff;">Tài khoản của tôi</p>
                    </a><a href="login.html">
                        <p style="color: #ffffff;">Đăng nhập/ Đăng ký</p>
                    </a><a href="shopping-cart.html">
                        <p style="color: #ffffff;">Giỏ hàng</p>
                    </a><a href="product-page.html">
                        <p style="color: #ffffff;">Cửa hàng</p>
                    </a>
                </div>
                <div class="col">
                    <p style="color: #ffffff;font-size: 20px;font-weight: bold;">Quick Link</p><a href="contact-us.html">
                        <p style="color: #ffffff;">Liên hệ</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2025 Copyright Text</p>
        </div>
    </footer>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/baguetteBox.min.js"></script>
    <script src="assets/js/vanilla-zoom.js"></script>
    <script src="assets/js/theme.js"></script>
    <script src="assets/js/admin-manage-account.js"></script>
    <script src="assets/js/admin-order-page.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="assets/js/script.js"></script>
</body>
